table{
    border-collapse: collapse;
}
  
.cel{
    padding: 0px;
    border: black solid 1px;
}

.ps{
    text-align: center;
    font-family: sans-serif;
    font: bold;
    font-size: 24px;
}

input{
    border: none;
}